<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>akhir</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Terimakasih</h2>
    <table class="table">
    <tbody>
      <tr>
        <td>Nama</td>
        <td>{{nama}}</td>
      </tr>
      <tr class="success">
        <td>Nama Barang</td>
        <td>{{barang}}</td>
      </tr>
      <tr class="danger">
        <td>Jumlah Barang</td>
        <td>{{jumlah}}</td>
      </tr>
      <tr class="info">
        <td>Total Harga</td>
        <td>{{total}}</td>
      </tr>
      <tr class="warning">
        <td>Alamat</td>
        <td>{{alamat}}</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>